<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{!-- Navigation bar --}}
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- main header left -->
                    <div class="col-md-12 col-12 main_header_left align-items-centre">
                        <figure>
                            <img src="images/error404.png" class="img-fluid">   
                        </figure>
                        <h1 class="align-text-centre">Page not found.</h1>
                    </div>
                    <!-- right side div -->
                    {{!-- <div class="col-md-10 col-12 main_header_bottom">
                        <img src="images/error404.png" />
                    </div> --}}
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}
</body>

</html>